.section{
    @apply
    flex
    flex-col
    text-center
    items-center
    px-10
    pt-10
    lg:px-40
    xl:text-left
    xl:flex-row-reverse
    xl:pt-16
    
}

.articleContainer{
    @apply
    border
    w-full
    flex
    flex-col
    items-center
    gap-5
    2xl:p-24
    xl:p-0
    xl:items-start
}

.article{
    @apply
    flex
    flex-col
    gap-5
}




.title{
    @apply
    text-6xl
    text-Very-Dark-Blue
    font-bold
    
}

.description{
    @apply
    text-lg
    text-Gray
}